@media only screen and (max-width: 1000px) {
    .page {
        width: 100%;
        margin-top: 0px;
    }

    .page .header {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .page .footer {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media only screen and (max-width: 800px) {
    .circle-container .circular {
        flex-basis: 50%;
        max-width: 100px;
    }

    .circle-container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 770px) {
    .circular {
        flex-basis: 33%;
    }

    .circle-container li {
        flex: 0 0 33.333333%;
    }
}

@media only screen and (max-width: 685px) {
    .page .content {
        display: flex;
        flex-direction: column;
    }

    .page .content .left-container {
        width: 100%;
    }

    .page .content .left-container .left-content {
        margin-top: 40px;
    }

    .page .content .left-container .left-content .avatar-img {
        width: 300px;
        height: 300px;
        margin: auto;
        padding-top: 0px;
    }

    .page .content .left-container .left-content .table-container li {
        width: 100%;
        margin-bottom: 20px;
    }

    .page .content .left-container .left-content .table-container li .left-content-table {
        width: 60%;
    }

    .page .content .left-container .left-content .table-container li .to-right-size-table {
        float: right;
    }

    .page .content .right-container {
        width: 100%;
    }
}

@media only screen and (max-width: 525px) {
    .circle-container {
        flex-direction: column;
    }

    .circle-container .circular {
        max-width: 100px;
    }
}

@media only screen and (max-width: 475px) {
    .page .content .right-container .right-content .hobbies .hobbies-logo-container li{
        flex-basis: 33%;
    }
}

@media only screen and (max-width: 350px) {
    .page .content .right-container .right-content .timeline-container .timeline .year-arrow {
        display: none;
    }

    .page .content .right-container .right-content .timeline-container .timeline .mid-line {
        width: 50px;
        min-width: 50px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .page .content .left-container .left-content .avatar-img {
        width: 200px;
        height: 200px;
    }
} 

@media only screen and (max-width: 300px) {
    .page .header .name {
        font-size: 30px;
    }
}