@media only screen and (max-width: 1000px) {
    .page {
        width: 100%;
        margin-top: 0px;
    }

    .page .header {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .page .footer {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}